
# MongoDB – connexion à l'instance locale
# ------------------------------
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_USER=<votre-utilisateur-mongo>
MONGO_PASSWORD=<votre-mot-de-passe-mongo>
MONGO_DB=<nom-de-la-base>
